*{
    margin:0;
    padding: 0;
}
/*#FD5868,#D62C81*/
body{
    font-size: 63%;
    background-image: linear-gradient(to bottom, #FFC451,#FF8E53 135%);
    background-attachment: fixed;
    font: bold 2rem 'Open Sans', sans-serif;
}

.toDoTasks{
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 10px; 
}

.title{
    display: flex;
    color:white;
    background-color: #006B60;
    width: 100%;
    height: 75px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px black;
}